openapi: '3.0.0'
info:
  version: 1.0.0
  title: Suryanshu Nabheet Portfolio API
  license:
    name: MIT
servers:
  - url: http://portfolio.suryanshu.dev/v1
paths:
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a project
      operationId: createProjects
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Info for a specific project
      operationId: showProjectById
      parameters:
        - name: projectId
          in: path
          required: true
          description: The id of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /skills:
    get:
      summary: Retrieve a comprehensive list of technical skills and expertise areas
      operationId: listSkills
      responses:
        200:
          description: A detailed array of skills including proficiency levels and categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skills'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /experience:
    get:
      summary: Get professional experience details including roles, companies, and achievements
      operationId: listExperience
      responses:
        200:
          description: Professional experience data with timeline and key accomplishments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experience'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Skills:
      type: array
      items:
        $ref: '#/components/schemas/Skill'
    Skill:
      required:
        - name
        - category
      properties:
        name:
          type: string
        category:
          type: string
        proficiency:
          type: string
    Experience:
      type: array
      items:
        $ref: '#/components/schemas/Job'
    Job:
      required:
        - title
        - company
      properties:
        title:
          type: string
        company:
          type: string
        duration:
          type: string
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string